# AUSGANGSCODE IM HISINONE PROJEKT HEILBRONN. 20180118

# Ignore everything
#*

# Ignore all directories
#*/

# Don`t ignore directories, so we can recurse into them
# NUR SINNVORLL WENN MAN EINEN FILTER AUF DATEIEN (z.B. Endungen) EINBAUT:  
#!*/

# Nun alle Verzeichnisse unterhalb von server ignorieren,
# ausser dem WakeOnLAN Verzeichnis und ...
# !/server/
# server/*
# !server/wakeOnLAN/
# !server/autologonWin10/
# !server/autologonWin7/

# Nun alle Verzeichnisse unterhalb von client ignorieren,
# ausser dem script Verzeichnis...
# siehe: https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
# Merke: VIAClient ist ein eigenes Repository
# !/client
# client/*
# !client/script/

# Ignore
.gitconfig
.gitk
.project
*.7z

# In diesem Verzeichnis wird der aktuelle JAR-Stand (zum Testen) gehalten. Darum nicht ignorieren.
# *.zip
# *.jar


# But don´t Ignore publish modul relevant files
# !*_HHN.xml
# !*_HHN.xsl

# Auch die Datenbankkonfiguration ausschliessen. Das muss unterhalb des 'don't ignore' mit Wildcards der Endung stehen.
#/webapps/qisserver/WEB-INF/conf/databases_HHN.xml



# Auf allen anderen Ebenen .gitignore ausschliessen. Nur zuoberst nicht.
!.gitignore
*/.gitignore
*/*/.gitignore
*/*/*/.gitignore
*/*/*/*/.gitignore
*/*/*/*/*/.gitignore
*/*/*/*/*/*/.gitignore
*/*/*/*/*/*/*/.gitignore
*/*/*/*/*/*/*/*/.gitignore
*/*/*/*/*/*/*/*/*/.gitignore
*/*/*/*/*/*/*/*/*/*/.gitignore
*/*/*/*/*/*/*/*/*/*/*/.gitignore
*/*/*/*/*/*/*/*/*/*/*/*/.gitignore
*/*/*/*/*/*/*/*/*/*/*/*/*/.gitignore
*/*/*/*/*/*/*/*/*/*/*/*/*/*/.gitignore
*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/.gitignore




